<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
</head>
<body>
    <header>
        <p>MyHeader</p>
        <a href="">Index</a>
        <a href="Login">Login</a>
        <a href="Members">Members</a>
        <a href="Register">Register</a>
    </header>
    <div>
        @RenderBody()
    </div>
    <footer>Myfooter</footer>
</body>
</html>
